In [ ]:
#Nama : Hasnita Rani Kumala
#Kelas : 2C
#NIM : 21090092

In [7]:
#Soal jawaban nomor 2b

kampus=('poltekharber', 'unnes', 'undip', 'unpad', 'unej', 'uns', 'uin', 'ugm', 'ui', 'unair', 'uny', 'poltek ssn', 'ub', 'ups', 'unad')
kampus2=['poltekharber', 'unnes', 'undip', 'unpad', 'unej', 'uns', 'uin', 'ugm', 'ui', 'unair', 'uny', 'poltek ssn', 'ub', 'ups', 'unad']
kampus3={'poltekharber', 'unnes', 'undip', 'unpad', 'unej', 'uns', 'uin', 'ugm', 'ui', 'unair', 'uny', 'poltek ssn', 'ub', 'ups', 'unad'}

print(kampus)
print(type(kampus))
print(kampus2)
print(type(kampus2))
print(kampus3)
print(type(kampus3))

('poltekharber', 'unnes', 'undip', 'unpad', 'unej', 'uns', 'uin', 'ugm', 'ui', 'unair', 'uny', 'poltek ssn', 'ub', 'ups', 'unad')
<class 'tuple'>
['poltekharber', 'unnes', 'undip', 'unpad', 'unej', 'uns', 'uin', 'ugm', 'ui', 'unair', 'uny', 'poltek ssn', 'ub', 'ups', 'unad']
<class 'list'>
{'unpad', 'unej', 'uns', 'ub', 'unnes', 'uin', 'undip', 'poltekharber', 'ugm', 'unad', 'unair', 'ups', 'ui', 'uny', 'poltek ssn'}
<class 'set'>

In [8]:
#Soal jawaban nomor 2d
teman=('putri', 'kartika', 'ika', 'besta', 'gita', 'febi', 'nurul', 'nana', 'layla', 'cici', 'setra', 'devi', 'doni', 'luna', 'farel', 'annur', 'riya', 'saskia', 'ade','aisyi')
teman2=['putri', 'kartika', 'ika', 'besta', 'gita', 'febi', 'nurul', 'nana', 'layla', 'cici', 'setra', 'devi', 'doni', 'luna', 'farel', 'annur', 'riya', 'saskia', 'ade','aisyi']
teman3={'putri', 'kartika', 'ika', 'besta', 'gita', 'febi', 'nurul', 'nana', 'layla', 'cici', 'setra', 'devi', 'doni', 'luna', 'farel', 'annur', 'riya', 'saskia', 'ade','aisyi'}
print(teman)
print(type(teman))
print(teman2)
print(type(teman2))
print(teman3)
print(type(teman3))

('putri', 'kartika', 'ika', 'besta', 'gita', 'febi', 'nurul', 'nana', 'layla', 'cici', 'setra', 'devi', 'doni', 'luna', 'farel', 'annur', 'riya', 'saskia', 'ade', 'aisyi')
<class 'tuple'>
['putri', 'kartika', 'ika', 'besta', 'gita', 'febi', 'nurul', 'nana', 'layla', 'cici', 'setra', 'devi', 'doni', 'luna', 'farel', 'annur', 'riya', 'saskia', 'ade', 'aisyi']
<class 'list'>
{'nana', 'farel', 'riya', 'aisyi', 'besta', 'doni', 'setra', 'kartika', 'devi', 'saskia', 'annur', 'ade', 'luna', 'layla', 'febi', 'nurul', 'putri', 'gita', 'cici', 'ika'}
<class 'set'>

In [ ]:
#Jawaban soal 2f

In [10]:
#Jawaban soal nomor 3b
nilai = int(input("Masukkan Nilai: "))

if nilai <= 50:
    print("Nilai D DINYATAKAN TIDAK LULUS")
elif nilai >= 70:
    print("Nilai C DINYATAKAN LULUS")  
elif nilai >= 80:
    print("Nilai B DINYATAKAN LULUS")
elif nilai >= 100:
    print("Nilai A DINYATAKAN LULUS")

Masukkan Nilai: 50
Nilai D DINYATAKAN TIDAK LULUS

In [11]:
#Soal jawaban nomor 3d
a= int(input("Masukkan alas segitiga : "))
t= int(input("Masukkan tinggi segitiga : "))

luas1 = a*t/2
print("Luas mula-mula = ", luas1)
luas2 = (a+4)*(t+4)/2
print("Luas setelah ditambah 4 = ", luas2)
luas3 = (a*10)*(t*10)/2
print("Luas setelah dikali 10 = ", luas3)

HLplus = luas1 + luas2
print("Hasil luas penjumlahan = ", HLplus)
HLmin = luas3 - luas2
print("Hasil luas pengurangan", HLmin)

Masukkan alas segitiga : 4
Masukkan tinggi segitiga : 9
Luas mula-mula =  18.0
Luas setelah ditambah 4 =  52.0
Luas setelah dikali 10 =  1800.0
Hasil luas penjumlahan =  70.0
Hasil luas pengurangan 1748.0

In [17]:
#Jawaban soal nomor 4b
#Desimal ke biner
desimal = int(input('Masukkan NIM: '))
biner = bin(desimal).replace("0b","")
print("Binernya adalah", biner)

#Desimal ke oktal
desimal = int(input('Masukkan NIM: '))
hexa = hex(desimal).replace("0h","")
print("Hexanya adalah", hexa)

#Desimal ke oktal
desimal = int(input('Masukkan NIM: '))
oktal = oct(desimal).replace("0o","")
print("Oktalnya adalah", oktal)

Masukkan NIM: 2109009256
Binernya adalah 1111101101101001110110101101000
Masukkan NIM: 2109009277
Hexanya adalah 0x7db4ed7d
Masukkan NIM: 210900959
Oktalnya adalah 1444413737

In [18]:
#Jawaban soal nomor 4d
#Desimal ke biner
desimal = int(input('Masukkan No hp: '))
biner = bin(desimal).replace("0b","")
print("Binernya adalah", biner)

#Desimal ke oktal
desimal = int(input('Masukkan No hp: '))
hexa = hex(desimal).replace("0h","")
print("Hexanya adalah", hexa)

#Desimal ke oktal
desimal = int(input('Masukkan No hp: '))
oktal = oct(desimal).replace("0o","")
print("Oktalnya adalah", oktal)

Masukkan No hp: 081229904439
Binernya adalah 1001011101001101011011111101000110111
Masukkan No hp: 081229904763
Hexanya adalah 0x12e9adfb7b
Masukkan No hp: 081229904287
Oktalnya adalah 1135153374637

In [23]:
#Jawaban soal nomor 5b
def faktorial(x):
  if x == 1 :
    return 1
  else:
    return (x * faktorial(x-1)) 

kendaraan = 10 
print("Faktorial dari ", kendaraan, " adalah", faktorial(kendaraan))

def fibonacci(n):
   if n == 0 or n == 1:
      return n
   else:
      return (fibonacci(n-1) + fibonacci(n-2))

print("Deret Fibonacci", kendaraan, "adalah", fibonacci(kendaraan))
for i in range(x):
   print(fibonacci(i),end=' ')

Faktorial dari 10  adalah 3628800
Deret Fibonacci 10 adalah 55
0 1 1 2 3 5 8 13 21 34

In [24]:
#Jawaban soal nomor 5d
def faktorial(x):
  if x == 1 :
    return 1
  else:
    return (x * faktorial(x-1)) 

jumlahnim = 8 
print("Faktorial dari jumlah nim saya", jumlahnim, " adalah", faktorial(jumlahnim))

def fibonacci(n):
   if n == 0 or n == 1:
      return n
   else:
      return (fibonacci(n-1) + fibonacci(n-2))

print("Deret Fibonacci dari jumlah nim saya", jumlahnim, "adalah", fibonacci(jumlahnim))
for i in range(x):
   print(fibonacci(i),end=' ')

Faktorial dari jumlah nim saya 8  adalah 40320
Deret Fibonacci dari jumlah nim saya 8 adalah 21
0 1 1 2 3 5 8 13 21 34

In [ ]:
#Jawaban soal nomor 5f

def fibonacci(n):
   if n == 0 or n == 1:
      return n
   else:
      return (fibonacci(n-1) + fibonacci(n-2))

x = int(input("Masukan Tinggi badan : "))
print("Deret Fibonacci")
for i in range(x):
   print(fibonacci(i),end=' ')

Deret Fibonacci
0 1 1 2 3 5 8 13 21 34 55 89 144 233 377 610 987 1597 2584 4181 6765 10946 17711 28657 46368 75025 121393 196418 317811 514229 832040 1346269 2178309 3524578 5702887 9227465 14930352 24157817 39088169 63245986 102334155 165580141 267914296 433494437 701408733 1134903170 1836311903

In [ ]:
#Jawaban nomer 1b

#a=jiika saya bangun pagi
#b=saya bangun telat
#a -> -b

#Jawaban 1d
#a=dia belajar Algo
# b=dia belajar matematika
#-a -> -b